<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moneycap.android.sdk.scanner" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application>
        <activity android:name="com.moneycap.android.sdk.scanner.ui.activity.ScanActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
    </application>

</manifest>
